.container{
    display: flex;
    height: calc(100vh - 50px);
    justify-content: space-between;
    background-color: #ccebff;
}
.left{
    flex: 1;
    

}
.center{
    flex: 3.5;
    
}
.rigth{
    flex: 1;
    
}