.container{
  background-color:#99d6ff ;
  height: 100px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.item{
  flex: 1;
  display: flex;
  align-items: center;

}
.item:nth-child(2){
flex: 3;
background-color: rgb(247, 239, 239);
}
.callButton{
padding:20px;
  
}
.texts{
  margin-left: 10px;
  color: #fff;
}
.text:first-child(){
  font-size:40px;
  font-weight:500;

}
.text:last-child(){
  font-size: 20px;
  font-weight:bold;

}



