.container{
  background-color:#99d6ff ;
  height: 100px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.item{
  flex: 1;
  display: flex;
  align-items: center;

}
.item:nth-child(2){
flex: 3;
background-color: rgb(247, 239, 239);
}
.callButton{
padding:20px;
  
}
.texts{
  margin-left: 8px;
  color: #fff;
  padding: 10px;
}
.text:first-child{
  font-size:18px;
  

}
.text:last-child{
  font-size: 25px;
  font-weight:bold;

}
.list{
  display:flex;
  justify-content: center;
  align-items: center;
 
}
.listItem{
  list-style: none;
  margin: 10px;

}



